<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>informacion De Libro</title>
    <link rel="stylesheet" href="/static/info_libro.css" />
</head>
<main>
    <ul class='slider'>
      {{#books}}
      <li class='item' style="background-image: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,0.9)),url('{{image_url}}')">
        <div class='content'>
          <h2 class='title' onclick="window.location = '/book/{{id}}'">"{{title}}"</h2>
          <h4 class ='author'>{{author}}</h3>
          <p class='description'>{{description}}</p>
        </div>
      </li>
      {{/books}}
    </ul>
    <nav class='nav'>
      <ion-icon class='btn prev' name="arrow-back-outline"></ion-icon>
      <ion-icon class='btn next' name="arrow-forward-outline"></ion-icon>
    </nav>

    <script src="/static/info_libro.js"></script>
  </main>
  
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</html>
