<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Biblioteca Pública</title>
    <link rel="stylesheet" href="/static/weird.css" />
    <link rel="stylesheet" href="/static/style.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css"
      rel="stylesheet"
    />
    <meta name="viewport" />
    <script src="/static/reservation.js"></script>
    <script>
      const logout = async () => {
        if (!confirm("Estas seguro?")) return;
        const requestOptions = {
          method: "DELETE",
          redirect: "follow",
        };
        await fetch("/login", requestOptions);
        window.location.reload();
      };
    </script>
  </head>
  <body>
    <header class="header">
      <nav>
        <div class="nav-bar">
          <i class="bx bx-menu sidebarOpen"></i>
          <span
            class="logo navLogo"
            style="
              display: inline-flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              gap: 20px;
            "
          >
            {{#name}}
            <a
              href="/profile"
              style="font-weight: bold; font-size: medium"
              id="profile-name"
              >{{name}}</a
            >
            <button id="login-btn" onclick="logout()">Logout</button>
            {{/name}} {{^name}}
            <button id="login-btn" onclick="window.location.replace('/login')">
              Iniciar sesión
            </button>
            {{/name}}
          </span>
          <div class="menu">
            <ul class="nav-links">
              <li><a href="#">Inicio</a></li>
              <li><a href="/catalogue">Catálogo</a></li>
              <li><a href="#nosotros">Sobre nosotros</a></li>
              <li><a href="mailto:example@gmail.com">Contacto</a></li>
            </ul>
          </div>
          <div class="darkLight-searchBox">
            <div class="dark-light">
              <i class="bx bx-moon moon"></i>
              <i class="bx bx-sun sun"></i>
            </div>
            <div class="searchBox">
              <div class="searchToggle">
                <i class="bx bx-x cancel"></i>
                <i class="bx bx-search search"></i>
              </div>
              <div class="search-field">
                <input type="text" placeholder="Buscar..." />
                <i class="bx bx-search"></i>
              </div>
            </div>
          </div>
        </div>
      </nav>
      <div class="clearfix1"></div>
      <script src="/static/navbar.js"></script>
    </header>
    <main class="container">
      <section id="inicio">
        <article class="article">
          <h2 id="bienvenida">Bienvenido a la Biblioteca Pública</h2>
          <p>
            Aquí puedes encontrar una amplia gama de libros, revistas,
            periódicos y otros materiales para leer, aprender y disfrutar.
          </p>
        </article>
      </section>
      <ul class="gallery">
        {{#books}}
        <li class="book-cover">
          <img src="{{image_url}}" alt="" />
          <div>
            <a href="/book/{{id}}">{{title}}</a>
            <p>{{description}}</p>
            <small>{{author}}</small>
            <button
              id="boton_reserva"
              onclick="reserveBook({{id}})"
              style="cursor: pointer"
            >
              Reservar
            </button>
          </div>
        </li>
        {{/books}}
      </ul>
      <div id="reservas">
        <h2>Reservas</h2>
        <p id="texto_reserva">¿Cómo realizar una reserva?</p>
        <p>
          Para reservar un libro en nuestra biblioteca virtual, simplemente
          sigue estos pasos:
        </p>
        <ol id="lista_reserva">
          <br />
          <li>
            Explora nuestro catálogo de libros y encuentra el título que te
            interesa.
          </li>
          <br />
          <li>
            Haz clic en el botón "Reservar" junto al libro que deseas reservar.
          </li>
          <br />
          <li>
            ¡Listo! Tu reserva será procesada y podrás recoger el libro en la
            fecha indicada.
          </li>
          <br />
        </ol>
        <p>
          ¿Tienes más preguntas sobre cómo reservar un libro? No dudes en
          contactarnos.
        </p>
        <button id="ver_reservas" onclick="">Ver mis reservas</button>
        <hr style="margin-top: 2rem" />
      </div>

      <div id="nosotros">
        <h2>Sobre nosotros</h2>
        <p>
          La Biblioteca Pública es un espacio abierto a toda la comunidad donde
          puedes encontrar materiales para tu formación, ocio e investigación.
        </p>
        <p>Ofrecemos una amplia variedad de servicios, como:</p>
        <ul>
          <li>·Préstamo de libros y otros materiales</li>
          <li>·Acceso a internet y ordenadores</li>
          <li>·Actividades culturales y educativas</li>
          <li>·Servicio de información y referencia</li>
        </ul>
      </div>
    </main>
    <footer class="footer">
      <div class="footer__addr">
        <h1 class="footer__logo">Biblioteca virtual</h1>
        <h2>Contacto</h2>
        <address>
          Cam. San Miguel de Geneto, 2, 38296 La Laguna, Santa Cruz de
          Tenerife<br />
          <a class="footer__btn" href="mailto:example@gmail.com">Contáctenos</a>
        </address>
      </div>
      <ul class="footer__nav">
        <li class="nav__item" style="text-align: center">
          <h2 class="nav__title">Contenidos</h2>
          <ul class="nav__ul">
            <li>
              <a href="#">Online</a>
            </li>
            <li>
              <a href="#">Locales</a>
            </li>
            <li>
              <a href="#">Publicidad</a>
            </li>
          </ul>
        </li>
        <li class="nav__item" style="text-align: center">
          <h2 class="nav__title">Legal</h2>
          <ul class="nav__ul">
            <li>
              <a href="#">Política de privacidad</a>
            </li>
            <li>
              <a href="#">Términos de uso</a>
            </li>
            <li>
              <a href="#">Mapa del sitio</a>
            </li>
          </ul>
        </li>
      </ul>
      <div class="legal">
        <p>&copy; 2024. Todos los derechos reservados.</p>
        <div class="legal__links">
          <span>Biblioteca Virtual <span class="heart"></span> </span>
        </div>
      </div>
    </footer>
  </body>
</html>
