<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Biblioteca Pública</title>
    <link rel="stylesheet" href="/static/weird.css" />
    <link rel="stylesheet" href="/static/style.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css"
      rel="stylesheet"
    />
    <meta name="viewport" />
  </head>
  <body>
    <header class="header">
      <nav>
        <div class="nav-bar">
          <i class="bx bx-menu sidebarOpen"></i>
          <span class="logo navLogo">
            {{#name}}
            <p style="font-weight: bold">{{name}}</p>
            {{/name}} {{^name}}
            <button id="login-btn" onclick="window.location.replace('/login')">
              Iniciar sesión
            </button>
            {{/name}}
          </span>
          <div class="menu">
            <ul class="nav-links">
              <li><a href="#inicio">Inicio</a></li>
              <li><a href="#catalogo">Catálogo</a></li>
              <li><a href="#nosotros">Sobre nosotros</a></li>
              <li><a href="#contacto">Contacto</a></li>
            </ul>
          </div>
          <div class="darkLight-searchBox">
            <div class="dark-light">
              <i class="bx bx-moon moon"></i>
              <i class="bx bx-sun sun"></i>
            </div>
            <div class="searchBox">
              <div class="searchToggle">
                <i class="bx bx-x cancel"></i>
                <i class="bx bx-search search"></i>
              </div>
              <div class="search-field">
                <input type="text" placeholder="Buscar..." />
                <i class="bx bx-search"></i>
              </div>
            </div>
          </div>
        </div>
      </nav>
      <div class="clearfix1"></div>
      <script src="/static/navbar.js"></script>
    </header>
    <main class="container">
      <section id="inicio">
        <article class="article">
          <h2 id="bienvenida">Bienvenido a la Biblioteca Pública</h2>
          <p>
            Aquí puedes encontrar una amplia gama de libros, revistas,
            periódicos y otros materiales para leer, aprender y disfrutar.
          </p>
        </article>
      </section>
      <ul class="gallery">
        <!-- <li class="book-cover">
          <img src="img/como_saliva_en_la_arena.jpg" alt="" />
          <div>
            <a href="#el-libro">Como saliva en la arena</a>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione
              optio temporibus natus nihil.
            </p>
            <small>J. J. Abramas</small>
          </div>
        </li> -->
        {{#books}}
        <li class="book-cover">
          <img src="{{image_url}}" alt="" />
          <div>
            <a href="/book/{{id}}">{{title}}</a>
            <p>{{description}}</p>
            <small>{{author}}</small>
          </div>
        </li>
        {{/books}}
      </ul>
      <div id="nosotros">
        <h2>Sobre nosotros</h2>
        <p>
          La Biblioteca Pública es un espacio abierto a toda la comunidad donde
          puedes encontrar materiales para tu formación, ocio e investigación.
        </p>
        <p>Ofrecemos una amplia variedad de servicios, como:</p>
        <ul>
          <li>·Préstamo de libros y otros materiales</li>
          <li>·Acceso a internet y ordenadores</li>
          <li>·Actividades culturales y educativas</li>
          <li>·Servicio de información y referencia</li>
        </ul>
      </div>
    </main>
    <footer class="footer">
      <div class="footer__addr">
        <h1 class="footer__logo">Biblioteca virtual</h1>
        <h2>Contacto</h2>
        <address>
          Cam. San Miguel de Geneto, 2, 38296 La Laguna, Santa Cruz de
          Tenerife<br />
          <a class="footer__btn" href="mailto:example@gmail.com">Contáctenos</a>
        </address>
      </div>
      <ul class="footer__nav">
        <li class="nav__item" style="text-align: center">
          <h2 class="nav__title">Contenidos</h2>
          <ul class="nav__ul">
            <li>
              <a href="#">Online</a>
            </li>
            <li>
              <a href="#">Locales</a>
            </li>
            <li>
              <a href="#">Publicidad</a>
            </li>
          </ul>
        </li>
        <li class="nav__item" style="text-align: center">
          <h2 class="nav__title">Legal</h2>
          <ul class="nav__ul">
            <li>
              <a href="#">Política de privacidad</a>
            </li>
            <li>
              <a href="#">Términos de uso</a>
            </li>
            <li>
              <a href="#">Mapa del sitio</a>
            </li>
          </ul>
        </li>
      </ul>
      <div class="legal">
        <p>&copy; 2024. Todos los derechos reservados.</p>
        <div class="legal__links">
          <span>Biblioteca Virtual <span class="heart"></span> </span>
        </div>
      </div>
    </footer>
  </body>
</html>
