<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>informacion De Libro</title>
    <link rel="stylesheet" href="/static/info_libro.css" />
</head>
<main>
    <ul class='slider'>
      <li class='item' style="background-image: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,0.9)), url('https://m.media-amazon.com/images/I/91R1AixEiLL._SY342_.jpg'); " >

        <div class='content'>
          <h2 class='title'>"Harry Potter y la piedra filosofal"</h2>
          <h4 class ='author'>J.K. Rowling</h3>
          <p class='description'> Harry Potter nunca ha oído hablar de Hogwarts hasta que empiezan a caer 
            cartas en el felpudo del número 4 de Privet Drive. Llevan la dirección escrita con tinta verde 
            en un sobre de pergamino amarillento con un sello de lacre púrpura, y sus horripilantes tíos se apresuran a confiscarlas.  </p>
          <p class='stock'> stock:</p>
        </div>
      </li>
      <li class='item' style=" background-image: url('https://images.pexels.com/photos/443446/pexels-photo-443446.jpeg')">
        <div class='content'>
          <div></div>
          <h2 class='title'>"Don Quijote de la Mancha"</h2>
          <h4 class ='author'>Miguel de Cervantes</h3>
          <p class='description'> Una obra maestra de la literatura española que narra las
             aventuras del hidalgo Alonso Quijano, quien, tras leer demasiadas novelas de caballería, 
             se cree un caballero andante y sale en busca de hazañas.  </p>
          <p class='stock'> stock:</p>
        </div>
      </li>
      <li class='item' style="background-image: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,0.9)),url('https://m.media-amazon.com/images/I/91TvVQS7loL._SY466_.jpg')">
        <div class='content'>
          <h2 class='title'>"Cien años de soledad"</h2>
          <h4 class ='author'>Gabriel García Márquez</h3>
          <p class='description'> Una novela mágica que cuenta la historia de la familia Buendía a lo 
            largo de siete generaciones en el pueblo ficticio de Macondo.  </p>
          <p class='stock'> stock:</p>
        </div>
      </li>
      <li class='item' style="background-image: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,0.9)),url('https://imagessl6.casadellibro.com/a/l/s5/96/9788408126096.webp')">
        <div class='content'>
          <h2 class='title'>"101 COSAS QUE DEBERIAS HACER ANTES DE SER MAYOR"</h2>
          <h4 class ='author'>GeoPlaneta</h3>
          <p class='description'>
            Una selección de actividades que estimularán la creatividad de los más jóvenes.
            Hacer malabarismos, criar mariposas, hacer un truco de magia, crear un código secreto, montar un volcán casero... 
            y otras 96 divertidas actividades para tachar de la lista de cosas que hay que aprender a hacer antes de ser mayor.
            ¿Cuántas serás capaz de tachar?</p>
          <p class='stock'> stock:</p>
        </div>
      </li>
      <li class='item' style="background-image: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,0.9)),url('https://imagessl8.casadellibro.com/a/l/s5/18/9788411321518.webp')">
        <div class='content'>
          <h2 class='title'>"48 pistas sobre la desaparición de mi hermana"</h2>
          <h4 class ='author'>Joyce Carol Oates</h3>
          <p class='description'>
            La bella Marguerite desaparece repentinamente de su pequeño pueblo en el norte del estado de Nueva York, 
            pero las causas no están del todo claras. ¿Hubo alguien más involucrado?
            ¿O simplemente aprovechó la oportunidad para dejar atrás su angustiosa vida? Veinte años después, su hermana menor,
            Gigi, reconstruye las pistas de lo acontecido aquellos días y de la investigación posterior. Poco a poco,
            las revelaciones sobre las dos hermanas se vuelven claras, 
            y se desvela que su perfecta vida hogareña no era tan placentera como parecía.
            Y sutilmente, con la maestría de Joyce Carol Oates para el suspense, comenzamos a vislumbrar lo acaecido.
          </p>
          <p class='stock'> stock:</p>
        </div>
      </li>
      <li class='item' style="background-image: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,0.9)),url('https://t3.ftcdn.net/jpg/03/02/20/44/360_F_302204474_rvIFdtHArRKSbpO3gvgnhGuVQ082nDvV.jpg')">
        <div class='content'>
          <h2 class='title'>"titulo"</h2>
          <h4 class ='author'>autor</h3>
          <p class='description'>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Sint, exercitationem laboriosam. Tempora ipsum dolores voluptate, minus quibusdam corrupti sed 
            eligendi blanditiis saepe voluptas laborum hic, aliquid autem adipisci consequatur quis.</p>
          <p class='stock'> stock:</p>
        </div>
      </li>
    </ul>
    <nav class='nav'>
      <ion-icon class='btn prev' name="arrow-back-outline"></ion-icon>
      <ion-icon class='btn next' name="arrow-forward-outline"></ion-icon>
    </nav>

    <script src="/static/info_libro.js"></script>
  </main>
  
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</html>