<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/info_librov2.css" />
    <title>Libro info</title>
</head>
<body>
    <div class="movie-card">
  
        <div class="container">
          <!-- imagen de preview -->
          <a href="#"><img src="https://m.media-amazon.com/images/I/91R1AixEiLL._SY342_.jpg" alt="cover" class="cover" /></a>
              
          <div class="hero">
                  
            <div class="details">
            <!-- titulo -->
              <div class="title1">Harry Potter y la piedra filosofal</div>
            <!-- autor -->
              <div class="author">J.K. Rowling</div>    
            
              <!-- estrellas de rating -->
              <fieldset class="rating">
          <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
          <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
          <input type="radio" id="star4" name="rating" value="4" checked /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
          <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
          <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
          <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
          <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
          <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
          <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
          <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
        </fieldset>
            
              
            </div> <!-- final de detalles -->
            
          </div> <!-- end hero -->
          
          <div class="description">
            
            <div class="column1">
            </div> <!-- final primera columna -->
            
            <div class="column2">
              <!-- Descripcion -->
              <p>Harry Potter nunca ha oído hablar de Hogwarts hasta que empiezan a caer cartas en 
                el felpudo del número 4 de Privet Drive. Llevan la dirección escrita con tinta verde 
                en un sobre de pergamino amarillento con un sello de lacre púrpura, y sus horripilantes 
                tíos se apresuran a confiscarlas.</p>
              <button>
                <p>Volver</p>
              </button>
              
              
            </div> <!-- end column2 -->
          </div> <!-- end description -->
          
         
        </div> <!-- end container -->
      </div> <!-- end movie-card -->
 
</body>
</html>